/*
Theme Name:   Fretefy
Description:  Tema desenvolvido pela Traktor para a Fretefy
Author:       Adamante
Author URL:   Write here the author's blog or website url
Template:     Divi
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  fretefy
*/

/* Write here your own personal stylesheet */

.percent p {
  font-size: 25px !important;
}

 #header h1 {
	word-wrap:normal !important;
	font-size:30px !important;
}
@media screen and (min-width: 320px) {
  .percent p {
    font-size: calc(36px + 6 * ((100vw - 320px) / 680)) !important;
  }
	 #header h1 {
		    font-size: calc(28px + 6 * ((100vw - 320px) / 680)) !important;

	}
}
@media screen and (min-width: 1000px) {
  .percent p {
    font-size: 72px !important;
  }
  #header h1 {
    font-size: 48px !important;
  }
} 

.entry-content p {
	font-size:16px
}

.entry-content ul {
	font-size:16px
}

#blog-post {
	
	color:black; 
max-width:none !important;
}

h2 span {
	font-weight:bolder !important;
	color:black;
}
