<!-- 
This is a placeholder partial for the introduction. Create a file called
layouts/partials/index/introduction.html in your own site to overwrite this
placeholder.
-->
<div class="et_pb_column et_pb_column_1_4 et_pb_column_1    et_pb_css_mix_blend_mode_passthrough">
			
			
        <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module">
        <a class="et_pb_button et_pb_button_0 et_animated et_pb_bg_layout_light" href="">ANUNCIE UMA CARGA GRÁTIS</a>
    </div><div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_pb_toggle_item  et_pb_toggle_close">
        
        
        <h5 class="et_pb_toggle_title">Filtrar cargas</h5>
        <div class="et_pb_toggle_content clearfix">
            <p>Your content goes here. Edit or remove this text inline or in the module Content settings. You can also style every aspect of this content in the module Design settings and even apply custom CSS to this text in the module Advanced settings.</p>
        </div> <!-- .et_pb_toggle_content -->
    </div> <!-- .et_pb_toggle -->
    <div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix" data-form_unique_num="0">
        
        
        <h1 class="et_pb_contact_main_title">Origem e Destino</h1>
        <div class="et-pb-contact-message"></div>
        
        <div class="et_pb_contact">
            <form class="et_pb_contact_form clearfix" method="post" action="/cargas/">
                <p class="et_pb_contact_field et_pb_contact_field_0 et_pb_contact_field_last" data-id="estado-origem" data-type="select">
        
        
        <label for="et_pb_contact_estado-origem_0" class="et_pb_contact_form_label">Origem (UF)</label>
        <select id="et_pb_contact_estado-origem_0" class="et_pb_contact_select input" name="et_pb_contact_estado-origem_0" data-required_mark="required" data-field_type="select" data-original_id="estado-origem">
                <option value="">Origem (UF)</option><option value="PR">PR</option>
            </select>
    </p><p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_last" data-id="cidade-origem" data-type="select">
        
        
        <label for="et_pb_contact_cidade-origem_0" class="et_pb_contact_form_label">Cidade</label>
        <select id="et_pb_contact_cidade-origem_0" class="et_pb_contact_select input" name="et_pb_contact_cidade-origem_0" data-required_mark="required" data-field_type="select" data-original_id="cidade-origem">
                <option value="">Cidade</option><option value="PR">PR</option>
            </select>
    </p><p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_last" data-id="destino-uf" data-type="select">
        
        
        <label for="et_pb_contact_destino-uf_0" class="et_pb_contact_form_label">Destino (UF)</label>
        <select id="et_pb_contact_destino-uf_0" class="et_pb_contact_select input" name="et_pb_contact_destino-uf_0" data-required_mark="required" data-field_type="select" data-original_id="destino-uf">
                <option value="">Destino (UF)</option><option value="PR">PR</option>
            </select>
    </p><p class="et_pb_contact_field et_pb_contact_field_3 et_pb_contact_field_last" data-id="destino-cidade" data-type="select">
        
        
        <label for="et_pb_contact_destino-cidade_0" class="et_pb_contact_form_label">Cidade de destino</label>
        <select id="et_pb_contact_destino-cidade_0" class="et_pb_contact_select input" name="et_pb_contact_destino-cidade_0" data-required_mark="required" data-field_type="select" data-original_id="destino-cidade">
                <option value="">Cidade de destino</option><option value="PR">PR</option>
            </select>
    </p>
                <input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_0">
                <input type="text" value="" name="et_pb_contactform_validate_0" class="et_pb_contactform_validate_field" />
                <div class="et_contact_bottom_container">
                    
                    <button type="submit" class="et_pb_contact_submit et_pb_button">Enviar</button>
                </div>
                <input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-0" name="_wpnonce-et-pb-contact-form-submitted-0" value="156eb82351" /><input type="hidden" name="_wp_http_referer" value="/cargas/" />
            </form>
        </div> <!-- .et_pb_contact -->
    </div> <!-- .et_pb_contact_form_container -->
    <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
    <div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_1 et_pb_contact_form_container clearfix" data-form_unique_num="1">
        
        
        <h1 class="et_pb_contact_main_title">Veículo</h1>
        <div class="et-pb-contact-message"></div>
        
        <div class="et_pb_contact">
            <form class="et_pb_contact_form clearfix" method="post" action="/cargas/">
                <p class="et_pb_contact_field et_pb_contact_field_4 et_pb_contact_field_last" data-id="veículo" data-type="select">
        
        
        <label for="et_pb_contact_veículo_1" class="et_pb_contact_form_label">Tipo de Veículo</label>
        <select id="et_pb_contact_veículo_1" class="et_pb_contact_select input" name="et_pb_contact_veículo_1" data-required_mark="required" data-field_type="select" data-original_id="veículo">
                <option value="">Tipo de Veículo</option><option value="PR">PR</option>
            </select>
    </p><p class="et_pb_contact_field et_pb_contact_field_5 et_pb_contact_field_last" data-id="carroceria" data-type="select">
        
        
        <label for="et_pb_contact_carroceria_1" class="et_pb_contact_form_label">Tipo de Carroceria</label>
        <select id="et_pb_contact_carroceria_1" class="et_pb_contact_select input" name="et_pb_contact_carroceria_1" data-required_mark="required" data-field_type="select" data-original_id="carroceria">
                <option value="">Tipo de Carroceria</option><option value="PR">PR</option>
            </select>
    </p>
                <input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_1">
                <input type="text" value="" name="et_pb_contactform_validate_1" class="et_pb_contactform_validate_field" />
                <div class="et_contact_bottom_container">
                    
                    <button type="submit" class="et_pb_contact_submit et_pb_button">Enviar</button>
                </div>
                <input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-1" name="_wpnonce-et-pb-contact-form-submitted-1" value="156eb82351" /><input type="hidden" name="_wp_http_referer" value="/cargas/" />
            </form>
        </div> <!-- .et_pb_contact -->
    </div> <!-- .et_pb_contact_form_container -->
    <div class="et_pb_module et_pb_divider et_pb_divider_1 et_pb_divider_position_ et_pb_space"><div class="et_pb_divider_internal"></div></div>
    <div id="et_pb_contact_form_1" class="et_pb_module et_pb_contact_form_2 et_pb_contact_form_container clearfix" data-form_unique_num="2">
        
        
        <h1 class="et_pb_contact_main_title">Carga</h1>
        <div class="et-pb-contact-message"></div>
        
        <div class="et_pb_contact">
            <form class="et_pb_contact_form clearfix" method="post" action="/cargas/">
                <p class="et_pb_contact_field et_pb_contact_field_6 et_pb_contact_field_last" data-id="tipo-carga" data-type="select">
        
        
        <label for="et_pb_contact_tipo-carga_2" class="et_pb_contact_form_label">Tipo de Carga</label>
        <select id="et_pb_contact_tipo-carga_2" class="et_pb_contact_select input" name="et_pb_contact_tipo-carga_2" data-required_mark="required" data-field_type="select" data-original_id="tipo-carga">
                <option value="">Tipo de Carga</option><option value="PR">PR</option>
            </select>
    </p>
                <input type="hidden" value="et_contact_proccess" name="et_pb_contactform_submit_2">
                <input type="text" value="" name="et_pb_contactform_validate_2" class="et_pb_contactform_validate_field" />
                <div class="et_contact_bottom_container">
                    
                    <button type="submit" class="et_pb_contact_submit et_pb_button">Enviar</button>
                </div>
                <input type="hidden" id="_wpnonce-et-pb-contact-form-submitted-2" name="_wpnonce-et-pb-contact-form-submitted-2" value="156eb82351" /><input type="hidden" name="_wp_http_referer" value="/cargas/" />
            </form>
        </div> <!-- .et_pb_contact -->
    </div> <!-- .et_pb_contact_form_container -->
    
    </div> <!-- .et_pb_column -->