<!DOCTYPE html>
<html lang="pt-BR">
        {{ partial "head.html" . }}
        <body class="page-template-default page page-id-40 et_divi_builder et_bloom et_monarch et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_pb_gutter et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et-db et_minified_js et_minified_css">
        <div id="page-container">
        {{ partial "header.html" . }}
        <div class="et-main-area">
        {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>

