{{ define "main" }}

<main>
	<div class="catalogue">
		{{ range (.Paginate .Pages).Pages }}
		<h4 class="et_pb_module_header"><a href="{{.Permalink}}">
            {{.Params.cidadeorigem}} - {{.Params.cidadedestino}} </a></h4>
        <p class="et_pb_member_position">{{.Params.datapublicada}}</p>
        <p><b>Tipo de veículo: {{.Params.veiculo}}</b> <br>
           <b>Tipo de carroceria: {{.Params.carroceria}}</b> <br>
           <b>Tipo de Carga: {{.Params.carga}}</b> 
           <b>Valor do Frete: R${{.Params.valor}}</b> </p>
		{{ end }}
	</div>
	
	<div class="pagination">
		{{ if .Paginator.HasPrev }}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}
	
		<span>{{ .Paginator.PageNumber }}</span>
	</div>
</main>

{{ end }}
