{{ define "main" }}

<main>


	<div id="main-content">


			
			<article id="post-40" class="post-40 page type-page status-publish hentry">
		
			
				<div class="entry-content">
				<div id="et-boc" class="et-boc">
		
		<div class="et_builder_inner_content et_pb_gutters3">
			<div class="et_pb_section et_pb_section_0 et_section_regular">
			
			
			
			
				<div class="et_pb_row et_pb_row_0">
			<div class="et_pb_column et_pb_column_4_4 et_pb_column_0    et_pb_css_mix_blend_mode_passthrough et-last-child">
			
			
			<div class="et_pb_module et_pb_text et_pb_text_0 et_animated et_pb_bg_layout_dark  et_pb_text_align_center">
			
			
			<div class="et_pb_text_inner">
				<h1>Cargas {{ .Title }}</h1>
			</div>
		</div> <!-- .et_pb_text --><div class="et_pb_module et_pb_search et_pb_search_0 et_pb_bg_layout_light  et_pb_text_align_left">
			
			
			<form role="search" method="get" class="et_pb_searchform" action="/">
				<div>
					<label class="screen-reader-text" for="s">Pesquisar por:</label>
					<input type="text" value="" name="s" class="et_pb_s" placeholder="Pesquise suas cargas">
					<input type="hidden" name="et_pb_searchform_submit" value="et_search_proccess" />
					
					<input type="hidden" name="et_pb_include_posts" value="yes" />
					<input type="hidden" name="et_pb_include_pages" value="yes" />
					<input type="submit" value="Pesquisa" class="et_pb_searchsubmit">
				</div>
			</form>
		</div> <!-- .et_pb_text -->
		</div> <!-- .et_pb_column -->
			
			
		</div> <!-- .et_pb_row -->
			
			
		</div> <!-- .et_pb_section --><div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
			
			
			
			
				<div class="et_pb_row et_pb_row_1 et_pb_row_fullwidth">
		
					<div class="et_pb_column et_pb_column_1 et_pb_css_mix_blend_mode_passthrough">	


					<div class="et_pb_module et_pb_team_member et_pb_team_member_0 et_pb_bg_layout_light clearfix">

		
		<div class="et_pb_team_member_description">
			
		<h4 class="et_pb_module_header"><a href="{{.Permalink}}">
			<ul>
			{{- range .Pages -}}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{- end -}}
		</ul>
</main>

	
	
</div> <!-- .et_pb_column -->
		
		
</div> <!-- .et_pb_row -->
	
	
</div> <!-- .et_pb_section -->			</div>

</div>					</div> <!-- .entry-content -->

	
	</article> <!-- .et_pb_post -->



</div> <!-- #main-content -->


{{ end }}



