<footer id="main-footer">
				

		
	<div id="footer-bottom">
		<div class="container clearfix">
	<div id="footer-info">Esse website foi desenvolvido por <a href="https://adamante.com.br/">Ada</a> através da <a href="https://gotraktor.com/">Traktor Tração Digital</a></div>					</div>	<!-- .container -->
	</div>
</footer> <!-- #main-footer -->
</div> <!-- #et-main-area -->


</div> <!-- #page-container -->

<script type="text/javascript">
	var et_animation_data = [{"class":"et_pb_text_0","style":"fade","repeat":"once","duration":"1000ms","delay":"0ms","intensity":"50%","starting_opacity":"0%","speed_curve":"ease-in-out"},{"class":"et_pb_button_0","style":"bounce","repeat":"once","duration":"1000ms","delay":"0ms","intensity":"50%","starting_opacity":"0%","speed_curve":"ease-in-out"}];
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"http:\/\/157.230.215.141\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.1'></script>
<script type='text/javascript' src='/wp-content/plugins/monarch/js/idle-timer.min.js?ver=1.4.10'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var monarchSettings = {"ajaxurl":"http:\/\/157.230.215.141\/wp-admin\/admin-ajax.php","pageurl":"http:\/\/157.230.215.141\/cargas\/","stats_nonce":"db83449e5b","share_counts":"88b13f8012","follow_counts":"7e5d0d2e1a","total_counts":"ad62ed5eda","media_single":"b0bd3400a2","media_total":"52e31de392","generate_all_window_nonce":"47c4f80acf","no_img_message":"No images available for sharing on this page"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/monarch/js/custom.js?ver=1.4.10'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var DIVI = {"item_count":"%d Item","items_count":"%d Items"};
var et_shortcodes_strings = {"previous":"Anterior","next":"Pr\u00f3ximo"};
var et_pb_custom = {"ajaxurl":"http:\/\/157.230.215.141\/wp-admin\/admin-ajax.php","images_uri":"http:\/\/157.230.215.141\/wp-content\/themes\/Divi\/images","builder_images_uri":"http:\/\/157.230.215.141\/wp-content\/themes\/Divi\/includes\/builder\/images","et_frontend_nonce":"017e58a1cb","subscription_failed":"Por favor, verifique os campos abaixo para verifique se voc\u00ea digitou as informa\u00e7\u00f5es corretas.","et_ab_log_nonce":"d527df3e31","fill_message":"Por favor, preencha os seguintes campos:","contact_error_message":"Por favor, corrija os seguintes erros:","invalid":"E-mail inv\u00e1lido","captcha":"Captcha","prev":"Anterior","previous":"Anterior","next":"Pr\u00f3ximo","wrong_captcha":"Voc\u00ea digitou o n\u00famero captcha errado.","ignore_waypoints":"no","is_divi_theme_used":"1","widget_search_selector":".widget_search","is_ab_testing_active":"","page_id":"40","unique_test_id":"","ab_bounce_rate":"5","is_cache_plugin_active":"no","is_shortcode_tracking":"","tinymce_uri":""};
var et_pb_box_shadow_elements = [];
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/themes/Divi/js/custom.min.js?ver=3.19.9'></script>
<script type='text/javascript' src='/wp-content/plugins/supreme-modules-for-divi/scripts/frontend-bundle.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='/wp-content/plugins/divi-builder/core/admin/js/common.js?ver=3.19.11'></script>
<script type='text/javascript' src='/wp-includes/js/wp-embed.min.js?ver=5.0.3'></script>
<style id="et-core-unified-cached-inline-styles-2">div.et_pb_section.et_pb_section_0{background-image:linear-gradient(100deg,#21657e 0%,#217ca0 100%)!important}.et_pb_contact_field_4.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_contact_field_1 input,.et_pb_contact_field_1 select,.et_pb_contact_field_1 textarea,.et_pb_contact_field_1 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_1.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_section_0{padding-top:48px;padding-bottom:37px}.et_pb_contact_field_2 input,.et_pb_contact_field_2 select,.et_pb_contact_field_2 textarea,.et_pb_contact_field_2 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_2.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_contact_field_3 input,.et_pb_contact_field_3 select,.et_pb_contact_field_3 textarea,.et_pb_contact_field_3 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_3.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_contact_form_0.et_pb_contact_form_container.et_pb_contact_form_container .et_contact_bottom_container .et_pb_contact_submit.et_pb_button{display:none}.et_pb_divider_0:before{border-top-color:#217ca0;border-top-width:1px}.et_pb_divider_0:hover:before{border-top-width:px}.et_pb_divider_0{height:0px}.et_pb_contact_field_4 input,.et_pb_contact_field_4 select,.et_pb_contact_field_4 textarea,.et_pb_contact_field_4 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_5 input,.et_pb_contact_field_5 select,.et_pb_contact_field_5 textarea,.et_pb_contact_field_5 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_0 input,.et_pb_contact_field_0 select,.et_pb_contact_field_0 textarea,.et_pb_contact_field_0 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_5.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_contact_form_1.et_pb_contact_form_container.et_pb_contact_form_container .et_contact_bottom_container .et_pb_contact_submit.et_pb_button{display:none}.et_pb_divider_1:before{border-top-color:#217ca0;border-top-width:1px}.et_pb_divider_1:hover:before{border-top-width:px}.et_pb_divider_1{height:0px}.et_pb_contact_field_6 input,.et_pb_contact_field_6 select,.et_pb_contact_field_6 textarea,.et_pb_contact_field_6 .et_pb_contact_field_options_list label>i{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_field_6.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_contact_form_2.et_pb_contact_form_container.et_pb_contact_form_container .et_contact_bottom_container .et_pb_contact_submit.et_pb_button{display:none}.et_pb_team_member_0.et_pb_team_member h4,.et_pb_team_member_0.et_pb_team_member h1.et_pb_module_header,.et_pb_team_member_0.et_pb_team_member h2.et_pb_module_header,.et_pb_team_member_0.et_pb_team_member h3.et_pb_module_header,.et_pb_team_member_0.et_pb_team_member h5.et_pb_module_header,.et_pb_team_member_0.et_pb_team_member h6.et_pb_module_header{font-weight:600;font-size:20px}.et_pb_team_member_0.et_pb_team_member{background-color:#ffffff;padding-top:50px!important;padding-right:50px!important;padding-bottom:50px!important;padding-left:50px!important}.et_pb_team_member_0{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)}.et_pb_team_member_1.et_pb_team_member h4,.et_pb_team_member_1.et_pb_team_member h1.et_pb_module_header,.et_pb_team_member_1.et_pb_team_member h2.et_pb_module_header,.et_pb_team_member_1.et_pb_team_member h3.et_pb_module_header,.et_pb_team_member_1.et_pb_team_member h5.et_pb_module_header,.et_pb_team_member_1.et_pb_team_member h6.et_pb_module_header{font-weight:600;font-size:20px}.et_pb_team_member_1.et_pb_team_member{background-color:#ffffff;padding-top:50px!important;padding-right:50px!important;padding-bottom:50px!important;padding-left:50px!important}.et_pb_contact_field_0.et_pb_contact_field .input{background-color:#ffffff!important}.et_pb_team_member_1{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)}.et_pb_search_0{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)}.et_pb_search_0 form input.et_pb_s::-moz-placeholder::-moz-placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important}.et_pb_section_1.et_pb_section{background-color:#f2f2f2!important}.et_pb_button_0_wrapper{margin-top:0px!important;margin-right:0px!important;margin-bottom:20px!important;margin-left:0px!important}body #page-container .et_pb_button_0{color:#ffffff!important;border-color:#217ca0;border-radius:5px;letter-spacing:0.5px;font-size:19px;font-weight:600!important;background-color:#217ca0}body #page-container .et_pb_button_0:after{font-size:1.6em}body.et_button_custom_icon #page-container .et_pb_button_0:after{font-size:19px}body #page-container .et_pb_button_0:hover:after{color:}.et_pb_search_0.et_pb_search,.et_pb_search_0 input.et_pb_s{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_search_0 input.et_pb_s{background-color:#ffffff;border-color:#217ca0!important;height:auto;min-height:0}.et_pb_search_0 input.et_pb_searchsubmit{font-weight:600;color:#ffffff!important;border-top-right-radius:5px;border-bottom-right-radius:5px;background:#217ca0!important;border-color:#217ca0!important}.et_pb_search_0 form input.et_pb_s::-moz-placeholder::-ms-input-placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important}.et_pb_button_0,.et_pb_button_0:after{transition:all 300ms ease 0ms}.et_pb_search_0 form input.et_pb_s:-ms-input-placeholder{color:#000000!important}.et_pb_module.et_pb_toggle_0.et_pb_toggle{border-radius:5px 5px 5px 5px;overflow:hidden;border-color:rgba(0,0,0,0)}.et_pb_toggle_0.et_pb_toggle{background-color:#ffffff}.et_pb_search_0 form input.et_pb_s::-moz-placeholder::-webkit-input-placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important}.et_pb_search_0 form input.et_pb_s::-moz-placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important;color:#000000!important}.et_pb_text_0 p{line-height:1.8em}.et_pb_text_0{font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif;font-size:18px;line-height:1.8em;max-width:700px}.et_pb_text_0 h1{font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif;font-weight:600;font-size:48px;line-height:1.4em}.et_pb_search_0 form input.et_pb_s,.et_pb_search_0 form input.et_pb_s::placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important}.et_pb_search_0 form input.et_pb_s::-webkit-input-placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;color:#000000!important}.et_pb_search_0 form input.et_pb_s::-ms-input-placeholder{font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important;font-size:15px;color:#000000!important;line-height:1.9em!important}.et_pb_toggle_0{box-shadow:0px 12px 18px -6px rgba(0,0,0,0.3)!important}.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field{margin-bottom:15px!important}.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field{margin-bottom:15px!important}.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_field_6.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_6.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_field_5.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_5.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field{margin-bottom:15px!important}.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field{margin-bottom:15px!important}.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_field_1.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_form_container .et_pb_contact_field_1.et_pb_contact_field{margin-bottom:15px!important}.et_pb_contact_field_0.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_field_2.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_field_3.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input::-webkit-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_form_container .et_pb_contact_field_3.et_pb_contact_field{margin-bottom:15px!important}.et_pb_contact_field_4.et_pb_contact_field .et_pb_contact_field_options_title,.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input::placeholder,.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input[type=checkbox]+label,.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input[type=radio]+label{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input,.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input[type="checkbox"]+label i,.et_pb_contact_form_container .et_pb_contact_field_0.et_pb_contact_field .input[type="radio"]+label i{border-radius:5px 5px 5px 5px;overflow:hidden}.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input::-moz-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_4.et_pb_contact_field .input:-ms-input-placeholder{font-weight:600}.et_pb_contact_form_container .et_pb_contact_field_2.et_pb_contact_field{margin-bottom:15px!important}.et_pb_text_0.et_pb_module{margin-left:auto!important;margin-right:auto!important}@media only screen and (min-width:981px){.et_pb_toggle_0{display:none!important}}@media only screen and (min-width:768px) and (max-width:980px){.et_pb_contact_form_0{display:none!important}.et_pb_divider_0{display:none!important}.et_pb_contact_form_1{display:none!important}.et_pb_divider_1{display:none!important}.et_pb_contact_form_2{display:none!important}}@media only screen and (max-width:767px){.et_pb_contact_form_0{display:none!important}.et_pb_divider_0{display:none!important}.et_pb_contact_form_1{display:none!important}.et_pb_divider_1{display:none!important}.et_pb_contact_form_2{display:none!important}}</style></body>
</html>
