<header id="main-header" data-height-onload="66">
	<div class="container clearfix et_menu_container">
					<div class="logo_container">
			<span class="logo_helper"></span>
			<a href="/">
				<img src="/wp-content/uploads/2019/01/Fretefy-Logo-RGB_Azul.png" alt="Fretefy" id="logo" data-height-percentage="54" />
			</a>
		</div>
					<div id="et-top-navigation" data-height="66" data-fixed-height="40">
									<nav id="top-menu-nav">
				<ul id="top-menu" class="nav"><li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-42"><a href="/">Início</a></li>
<li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a href="/empresa/">Fretefy para Empresas</a></li>
<li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="/preco/">Preço</a></li>
<li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="/caminhoneiros/">Fretefy para Caminhoneiros</a></li>
<li id="menu-item-2771" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-40 current_page_item menu-item-2771"><a href="/cargas/">Cargas</a></li>

<li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="/blog/">Blog</a></li>
</ul>						</nav>
			
			
			
			
			<div id="et_mobile_nav_menu">
		<div class="mobile_nav closed">
			<span class="select_page">Escolha uma Página</span>
			<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
		</div>
	</div>				</div> <!-- #et-top-navigation -->
	</div> <!-- .container -->

</header> <!-- #main-header -->